*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    place-items: center;
    min-height: 100vh; 
}

main{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-areas:
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
}

header{
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
}

.button-style{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: orangered;
    border: 3px solid orangered;
}

a{
    text-decoration: none;
    color:  pink;
}

main > div{
    padding: 2.2em;
}

.item-a{
    background-color: rgb(255, 102, 0);
    grid-area: a;
}
.item-b{
    background-color: rgb(255, 174, 0);
    grid-area: b;
}
.item-c{
    background-color: rgb(0, 128, 0);
    grid-area: c;
}
.item-d{
    background-color: rgb(12, 184, 241);
    grid-area: d;
}
.item-e{
    background-color: rgb(12, 184, 241);
    grid-area: e;
}