@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

:root {
    /* primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --white: hsla(0, 0%, 100%, 0.75); 
    /* white for paragraphs */
    --light-gray: hsl(0, 0%, 95%);
    /* for backgrounds, headings, buttons */
}

body{
    background: var(--light-gray);
}

header{
    text-align: center;
}

.button-style{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--light-gray);
    border: 3px solid var(--very-dark-cyan);
}

a{
    text-decoration: none;
    color: var(--bright-orange);
}

.father{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 860px;
}
    
.container{
    width: 80%;
    max-width: 900px;
    padding: 30px 0;
    margin: 40px auto;
}

.row{
    display: flex;
}

.container-1{
    background: var(--bright-orange);
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container-1, .container-2, .container-3{
    padding: 30px 30px;
    position: relative;
}

.header{
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    color: var(--light-gray);
    margin: 25px 0;
    font-size: 2em;
}

p{
    color: var(--white);
    margin-bottom: 90px;
}

p, .button{
    font-family: 'Lexend Deca', sans-serif;
}

.container-2{
    background: var(--dark-cyan);
   
}

.container-3{
    background: var(--very-dark-cyan);
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button {
    position: absolute;
    border-radius: 100px;
    padding: 0.5rem 0.6rem;
    left: 30px; 
    bottom: 15px;
    margin-bottom: 20px;
}

.btn-1{
    border: 3px solid var(--bright-orange);
    color: var(--bright-orange);
}

.btn-2{
    border: 3px solid var(--dark-cyan);
    color: var(--dark-cyan);
}

.btn-3{
    border: 3px solid var(--very-dark-cyan);
    color: var(--very-dark-cyan);
}

.btn-1:focus, .btn-1:hover{
    border: 3px solid var(--light-gray);
    background-color: var(--bright-orange);
    color: var(--light-gray);
    cursor: pointer;
}
.btn-2:focus, .btn-2:hover{
    border: 3px solid var(--light-gray);
    background-color: var(--dark-cyan);
    color: var(--light-gray);
    cursor: pointer;
}
.btn-3:focus, .btn-3:hover{
    border: 3px solid var(--light-gray); 
    background-color: var(--very-dark-cyan);
    color: var(--light-gray);
    cursor: pointer;
}

/* Grid */
@media (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .container-1{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .container-3{
        background: var(--very-dark-cyan);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .container-1, .container-2, .container-3{
        border-radius: 10px;
    }

    .container-1, .container-2{
        margin-bottom: 30px;
    }
}